<div class="modal fade" id="modalID" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="imageModalLabel">Agregar imagen</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <div class="mb-3">
          <label for="formFile" class="form-label">Nueva imagen</label>
          <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveImage()">Guardar Cambios</button>
      </div>

    </div>
  </div>
</div>